[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
	ignore = dirty

[submodule "external/printf"]
	path = external/printf
	url = https://github.com/mpaland/printf
	ignore = dirty
